<% layout('../layouts/boilerplate') %>

        <body>
                <input type="text" placeholder="Search" id="search">
                <%- include('../includes/ctgry.ejs') %>
                        <div class="cardCont">
                                <% for (listing of listings){ %>
                                        <a href="/show/<%= listing._id %>">
                                                <div class="card">
                                                        <img src="<%= listing.image.url%>" alt="Image not found">
                                                        <div class="cardinfo">
                                                                <p>
                                                                        <%= listing.title %>
                                                                </p>
                                                                <p class="price">&#8377;<%= listing.price %>/night</p>
                                                        </div>
                                                        <div class="location">
                                                                <i class="ri-map-pin-line"></i>
                                                                <p>
                                                                        <%= listing.location %>, <%= listing.country %>
                                                                </p>
                                                        </div>
                                                </div>
                                        </a>
                                        <% }%>
                        </div>
                        <script src="/js/search.js"></script>
        </body>